* {
  font-family: "Gloria Hallelujah", cursive;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #534343; }

a {
  font-family: "Roboto";
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #231D20;
  padding: 5px 10px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

input {
  height: 30px;
  color: #231D20;
  width: 100%; }

main {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.btn-flat {
  color: #145C9E;
  background: transparent;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .btn-flat:hover {
    background: #534343; }

.btn-raised {
  background-color: #D63031;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn-raised:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 200; }
  nav * {
    display: inline-block;
    color: #231D20;
    font-size: 1.5rem; }
  nav a {
    font-family: "Gloria Hallelujah", cursive; }

.item-form {
  text-align: left;
  position: relative;
  padding: 10px 5px; }
  .item-form .name {
    width: 65%;
    display: inline-block; }
  .item-form .bonus {
    width: 18%;
    display: inline-block;
    margin-left: 2%; }
  .item-form a {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #145C9E;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out; }
    .item-form a:hover {
      color: #D63031; }
  .item-form label {
    position: relative;
    display: block;
    width: 100%;
    height: 30px; }
  .item-form .placeholder {
    position: absolute;
    display: block;
    color: #145C9E;
    top: 17.5px;
    z-index: 2;
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    cursor: text; }
  .item-form input {
    position: absolute;
    top: 15px;
    z-index: 1;
    border: 0;
    border-bottom: 2px solid #145C9E;
    -webkit-transition: border-color 0.5s ease;
    -o-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease; }
  .item-form input:focus,
  .item-form input:valid {
    border-bottom: 3px solid #D63031; }
    .item-form input:focus + .placeholder,
    .item-form input:valid + .placeholder {
      top: -5px;
      cursor: inherit;
      font-size: 14px;
      color: #D63031; }

.item-list {
  height: 150px;
  width: 100%;
  margin: 20px auto 0px auto;
  overflow: hidden;
  overflow-y: scroll;
  border: 2px solid #534343;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  padding: 5px; }
  .item-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #231D20;
    padding: 5px 3px;
    margin: 10px 0;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .item-list li:hover {
      border-color: #145C9E;
      color: #145C9E;
      -webkit-transform: scale(1.01);
          -ms-transform: scale(1.01);
              transform: scale(1.01);
      cursor: default; }
    .item-list li p {
      -webkit-box-flex: 75%;
      -webkit-flex: 75%;
          -ms-flex: 75%;
              flex: 75%;
      font-size: 1.1rem;
      word-wrap: normal;
      line-height: 1.4rem; }
    .item-list li i,
    .item-list li span {
      font-size: 1.5rem;
      line-height: 1.5rem; }
    .item-list li span {
      -webkit-box-flex: 15%;
      -webkit-flex: 15%;
          -ms-flex: 15%;
              flex: 15%; }
    .item-list li i {
      text-align: center;
      -webkit-box-flex: 10%;
      -webkit-flex: 10%;
          -ms-flex: 10%;
              flex: 10%;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .item-list li i:hover {
        color: #D63031;
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3); }

.atk {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }
  .atk img {
    width: 10%;
    margin: 0 30px; }
  .atk p {
    font-size: 3rem;
    line-height: 3rem; }

.player, .player-placeholder {
  width: 400px;
  margin-top: 100px;
  background: white;
  padding: 20px;
  margin-right: 25px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .player h2, .player-placeholder h2 {
    font-size: 2.5rem;
    line-height: 2.6rem; }
  .player .level-control, .player-placeholder .level-control {
    width: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .player .level-control h5, .player-placeholder .level-control h5 {
      font-size: 1.75rem; }
    .player .level-control i, .player-placeholder .level-control i {
      color: #231D20;
      font-size: 2rem;
      padding: 10px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .player .level-control i.ion-plus-round:hover, .player-placeholder .level-control i.ion-plus-round:hover {
        color: #145C9E; }
      .player .level-control i.ion-minus-round:hover, .player-placeholder .level-control i.ion-minus-round:hover {
        color: #D63031; }
  .player i, .player-placeholder i {
    font-size: 2.5rem;
    line-height: 2rem;
    cursor: pointer;
    margin: 0 auto; }
  .player .close-btn, .player-placeholder .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    cursor: pointer; }

.player-placeholder input {
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid black; }

.pillbox {
  border: 2px solid #534343;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  text-align: left;
  min-height: 52px; }
  .pillbox .pillbox-input {
    width: auto;
    max-width: 100%; }
  .pillbox .pill {
    border: 1px solid #534343;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    padding: 0 2px;
    margin: 2px 2px 0 0; }
  .pillbox .pillbox-options {
    border: 2px solid #534343;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    height: 150px; }
    .pillbox .pillbox-options .selected {
      background-color: white;
      color: #145C9E; }
    .pillbox .pillbox-options .NGoption {
      padding: 5px 2px 0 5px; }
    .pillbox .pillbox-options .Goption {
      padding: 5px 2px 0 20px; }

/*# sourceMappingURL=style.css.map */